[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/maantietaja
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/maantietaja
	label-Verified = -1..+1 group user/maantietaja
	push = group user/maantietaja
	read = group user/maantietaja
	rebase = group user/maantietaja
	removeReviewer = group user/maantietaja
	submit = group user/maantietaja
[access "refs/heads/*"]
	create = group user/maantietaja
	push = +force group user/maantietaja
	pushMerge = group user/maantietaja
	read = group user/maantietaja
[access "refs/tags/*"]
	push = group user/maantietaja
	push = +force group user/maantietaja
